*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
.contenedor{
    width: 100%;
    height: 100px;
    background: rgb(238, 195, 5);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 4px 14px 4px rgba(0,0,0,0,75);
}
.nadvar{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.menu a{
    font-size: 19px;
    padding: 10px 20px;
    color: grey;
    transition: 0.5s;
}
.menu a:hover{
    background: rgba(0,0,0,0,5);
    color: rgb(160, 19, 216);
}
.logo{
    font-size: 25px;
    cursor: pointer;
}
.logo span{
    color: grey;
}
.responsive{
    display: none;
}
.banner{
    width: 100%;
    height: 90vh;
    margin-top: 100px;
    background-image: url(../img/logo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.texto-banner{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.texto-banner h2{
    color: rgb(6, 5, 4);
    font-size: 25px;
    padding: 20px;
    
}





.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container.card {
    position: relative;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.4s;
}

.container .card .face.face1{
    position: relative;
    background:rgb(243, 188, 5);
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    box-shadow: 
    inset 0 0 60px rgb(233, 4, 119),
    inset 20px 0 80px rgb(244, 189, 7),
    inset -20px 0 80px rgb(234, 236, 92),
    inset 20px 0 300px rgb(133, 243, 7),
    inset -20px 0 300px rgb(204, 228, 96),
    0 0 50px rgb(235, 162, 5),
    -10px 0 80px rgb(99, 241, 4),
    10px 0 80px rgb(1, 254, 56);
    transform: translateY(0px);
}

.container.card .face.face1 .content{
    opacity: 0.2;
    text-align: center;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1.content i{
    font-size: 3em;
    color: rgb(240, 185, 6);
    display:inline-block;
}

.container.card .face.face1 .content h3{
    font-size: 1em;
    color: rgb(247, 211, 8);
    text-align: center;
}

.container.card .face.face1 .content a{
 transition: 0.5s; 
}

.container .card .face.face2{
    position: relative;
    background: rgba(152, 182, 105, 0.695);
    dispLay: flex;
    align-items:center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(214, 147, 3, 0.489);
    transform: translateY(-100px);
}
.container .card:hover .face.face2{
    transform: translateY(0px);
}

.container .card .face.face2 .content p, a{
   margin: 0;
   padding: 0;
   font-size: 14px;
   color: rgba(226, 216, 216, 0.556);
}

.container .card .face.face2 .content  a{
   text-decoration: none;
   color: rgb(10, 10, 10);
   box-sizing: border-box;
   padding: 10px 24px;
   margin: 15px 0 0;
   display: inline-block;
   background: rgb(236, 221, 3);
 }



.img-main{
    width: 90%;
    height: auto;
    margin: auto;
}
.img-food{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.img-food img{
    width: 22%;
    height: 180px;
    margin: 10px;
    transition: 00.5s;
}
.img-food img:hover{
    filter: grayscale(3);
}
.cliente{
    width: 100%;
    height: auto;
    padding: 100px 0px;
    margin: auto;
}
.texto-cliente{
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: gray;
}
.cliente-img{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.cliente-img .img-texto-cliente{
    width: 20%;
    text-align: center;
}
.img-texto-cliente h3{
    text-align: center;
    padding: 5px;
    color: gray;
}
.img-texto-cliente p{
    text-align: center;
    padding: 5px;
    color: gray;
}
.img-texto-cliente img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid rgb(115, 110, 154);
}
.footer{
    width: 200%;
    height: 150px;
    background: gray;
}
.footer{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.sociales{
    display: flex;
    align-items: center;
    height: auto;
}
.sociales i{
    color: rgb(221, 183, 15);
    font-size: 50px;
    padding: 10px;
    transition: 0.5s;
    border-radius: 50%;
}
.sociales i:hover{
    background: rgb(175, 144, 7);
    border-radius: 50%;
}